@font-face {
    font-family: 'Nimbus';
    src: url('D:/предпроф 2026/predprof2026/static/fonts/Nimbus Round/Nimbus Sans Round Medium.otf') format('opentype');
}




body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    top: 0;
    left: 0;
    background-color: #f1faee;
    display: flex;
}

.button1 {
    width: 140px;
    height: 60px;

    position: absolute;
    top: 25px;
    right: 25px;

    background-color: #1d3557;

    border-radius: 5px;
}

p {
    color: white;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#entrybtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}